.TodoItem{
    display: block;
    width: 100%;
    height: 50px;
    margin: 20px 0;
    border-radius: 10px;
    background-color: rgba(219, 146, 241, 0.5);

}
.TodoItem:hover{
    background-color: rgba(219, 146, 241, 0.8);
}

.TodoItem__container{
    display: flex;
    position: relative;
    font-size: 3rem;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
.TodoItem-p--complete{
    text-decoration: line-through;
}
.TodoItem__check{
    width: 20px;
    height: 20px;
    margin: 10px;
}
.TodoItem__trash{
    margin: 10px;
}
.TodoItem__check:hover, .TodoItem__trash:hover{
    cursor: pointer;
}