.TodoButton{
    display: flex;
    margin: 0 auto;
    max-width: 70%;
    justify-content: end;
}
.button-add-todos{
    width: 50px;
    height: 50px;
    font-size: 2.6rem;
    border: none;
    border-radius: 50%;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s linear;
    transform: scale(1);
    background-color: #fb42f6c2;
    z-index: 10;
}
.button-add-todos:hover{
    border: none;
    cursor: pointer;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s linear;
    transform: scale(1.2);
}
.button-add-todos:active{
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.5);
    transition: transform 20ms linear;
    transform: scale(1.1);
}