:root{
  --color-letra-1: #261836;
}
*{
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
  background-color: #548cff;
  background-image: linear-gradient(160deg, #548cff 0%, #93ffd8 100%);
  min-height: 100vh;
  height: 100%;
  font-size: 16rem;
}